[project]
	description = This project defines a textual modeling language for Goal-Oriented Requirement Language (GRL)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vahdat (vahdat-ab)
[access "refs/for/refs/*"]
	read = group user/Vahdat (vahdat-ab)
	push = group user/Vahdat (vahdat-ab)
	label-Code-Review = -2..+2 group user/Vahdat (vahdat-ab)
	label-Verified = -1..+1 group user/Vahdat (vahdat-ab)
	rebase = group user/Vahdat (vahdat-ab)
	removeReviewer = group user/Vahdat (vahdat-ab)
	submit = group user/Vahdat (vahdat-ab)
[access "refs/heads/*"]
	read = group user/Vahdat (vahdat-ab)
	create = group user/Vahdat (vahdat-ab)
	push = +force group user/Vahdat (vahdat-ab)
	pushMerge = group user/Vahdat (vahdat-ab)
[access "refs/tags/*"]
	push = +force group user/Vahdat (vahdat-ab)
	pushTag = group user/Vahdat (vahdat-ab)
	pushSignedTag = group user/Vahdat (vahdat-ab)
